/* Insert your styles here */
html {
  scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    position: sticky;
    top: 0;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

.navigation {
  height: 100%;
  float: right;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
}
.logo_container img {
  vertical-align: middle;
  height: 100%;
}

.about_container {
  background-image: url(../../media/seating.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.about_content {
  display: block;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  float: left;
}

.about_content h1 {
  vertical-align: bottom;
  font-size: 50px;
  color: white;
  padding-bottom: 10%;
  font-family: 'Montserrat'
}

.about_content h2 {
  vertical-align: bottom;
  font-size: 35px;
  color: white;
  padding-bottom: 5%;
  font-family: 'Montserrat';
  font-weight: 500;
}


.about_content p {
  vertical-align: bottom;
  font-size: 25px;
  color: white;
  font-family: 'Lato';
}

.parallax_wrapper {
  background-image: url(../../media/Cinema.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
}

.parallax_content {
  padding-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.parallax_content h1{
  color: white;
  font-size: 50px;
  font-family: 'Montserrat'
}

.parallax_content_img {
  display: block;
  text-align: center;
  padding-top: 2%;
}

.parallax_content_img img {
  padding-left: 5%;
  padding-right: 5%;
}

.standard {
  display: block;
  float: left;
  padding-left: 10%;
}

.standard h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Lato';
  font-size: 30px;
  color: white;
}

.premium h2 {
  text-align: center;
  font-family: 'Lato';
  font-size: 30px;
  color: white;
}


.premium {
  display: block;
  float: right;
  padding-right: 10%;
}

.prices_container {
  display: block;
  width: 100%;
  height: 900px;
}

.prices_content {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
  display: block;
  float: left;
}

.prices_content table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 3%;
  font-family: 'Lato';
  font-weight: 400;
}

.prices_img {
  display: block;
  float: right;
  padding-right: 10%;
  padding-top: 3%
}

.prices_img img {
}


.prices_container h1{
  padding-left: 25px;
  padding-top: 25px;
  font-family: 'Montserrat';
  font-size: 50px;
}

.showing_container {
  display: block;
  width: 100%;
  height: 1400px;
  background-color: grey;
}

.showing_container h1 {
  font-size: 50px;
  font-family: 'Montserrat';
  padding-left: 25px;
  padding-top: 25px;
  color: white;

}

.showing_content {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  height: 30%;
  width: 30%;
  background-color: red;
  margin: 0 auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.movie img {
  height: 500px;
}

.footer {
  background-color: #101010;
  color: white;
}
