/* Insert your styles here */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    position: sticky;
    top: 0;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: table;
  float: left;
}

.logo_container h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

.navigation {
  height: 100%;
  float: right;
}

.navigation a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.navigation a:last-child {
  padding-right: 0;
}

.navigation a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: white;
  font-family: "Montserrat";
  font-size: 16px;
}
.logo_container img {
  vertical-align: middle;
  height: 100%;
}

.about_container {
  background-image: url(../../media/seating.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 600px;
}

.about_content {
  display: block;
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
  float: left;
}

.about_content h1 {
  vertical-align: bottom;
  font-size: 50px;
  color: white;
  padding-bottom: 10%;
  font-family: 'Montserrat'
}

.about_content h2 {
  vertical-align: bottom;
  font-size: 35px;
  color: white;
  padding-bottom: 5%;
  font-family: 'Montserrat';
  font-weight: 500;
}


.about_content p {
  vertical-align: bottom;
  font-size: 25px;
  color: white;
  font-family: 'Lato'
}

.seating_container {
  height: 600px;
  background-image: url(../../media/Cinema.jpg);
  background-size: cover;
}
